<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= render 'shared/words_learned' %>
            </section>
        </aside>
    
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Activities</h3>
                </div>
                <div class="panel-body activity">
                        <% @activities.each do |activity| %>
                            <%= render 'shared/activity', activity: activity %>
                        <% end %>
                    <%= will_paginate @activities %>
                </div>
            </div>
        </div>
    </div>
    </div>
    <% else %>
    <div class="row">
        <div class="col-md-8">
            <div class="top_image"><%= image_tag("synonym_image.jpg") %></div>
            <ul class="text-center">
                <li><i class="fas fa-laptop fa-fw"></i> Essential words selected by computer to get 100 in TOEFL </li>
                <li><i class="fab fa-medapps fa-fw"></i> Addopted mnemoric system using a synonym and the origin of a wordetymology</li>
                <li><i class="fab fa-phoenix-framework fa-fw"></i> Parfect master of the words frequently used in TOEFL </li>
            </ul>
        </div>
        <div class="col-md-4 singn-us">
            <h3><div class="text-center"><%= link_to "New User?", signup_path %></div></h3>
            <div class="text-center"><%= link_to "Sign up now!", signup_path, class: "btn, btn-lg btn-block btn-primary" %></div>
        </div>
    </div>
<% end %>