<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
            <%= render 'follow_form' if logged_in? %>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
        <section>
            <%= render 'shared/words_learned' %>
        </section>
    </aside>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Activities</h3>
            </div>
            <div class="panel-body">
                <% if @activities.any? %>
                    <% @activities.each do |activity| %>
                        <%= render 'shared/activity', activity: activity %>
                    <% end %>
                <% else %>
                    <h3><div class="text-center">We are waiting for the first action!!!</div><h3>
                <% end %>
            </div>
        </div>
    </div>
</div>