<div class="col-sm-6" id="category-<%= category.id %>">
    <div class="panel  
        <% if current_user.lesson_finished?(category)  %>
            panel-success
        <% elsif current_user.lesson_suspended?(category) %>
            panel-warning
        <% else %>
            panel-info
        <% end %>">

        <div class="panel-heading">
            <h3 class="panel-title"><%= category.title %></h3>
        </div>
        <div class="panel-body category">
            <%= category.description %>
            <div class="words_list">
                <%= category.words.pluck(:content).join(', ') if category.words.any? %>
            </div>
        </div>
        <%= render 'btn_form', category: category %>
    </div>
</div>