<div class="col-sm-6" id="category-<%= category.id %>">
    <div class="panel 
        <%= category.lessons.find_by(user: current_user) ? "panel-success" : "panel-info" %>
    ">
        <div class="panel-heading">
            <h3 class="panel-title"><%= category.title %></h3>
        </div>
        <div class="panel-body">
            <%= category.description %>
            <div class="words_list">
                <% if category.words.any? %>
                    <% category.words.each do |word| %>
                        <%= word.content %>, 
                    <% end %>
          　     <% end %>
            </div>
        </div>
        <%= render 'btn_form', category: category %>
    </div>
</div>